body {
  width: 100%;
  position: relative;
}

body * {
  font-family: Helvetica, sans-serif;
}

body h1 {
  font-size: 22px;
  font-weight: 700;
}

@media (min-width: 768px) {
  body h1 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  body h1 {
    font-size: 24px;
  }
}

body h3 {
  font-size: 16px;
  margin: 0px 0px 25px 0px;
  font-weight: 700;
}

@media (min-width: 768px) {
  body h3 {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  body h3 {
    font-size: 18px;
  }
}

body p {
  font-size: 14px;
}

@media (min-width: 768px) {
  body p {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  body p {
    font-size: 15px;
  }
}

/**** navbar ****/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.bg-light {
  background-image: url(http://www.budbolagetab.se/images/templates/default/body-bg.gif);
}

.menu-logo {
  vertical-align: middle;
  border-style: none;
  height: 42px;
}

@media (min-width: 768px) {
  .menu-logo {
    height: 70px;
  }
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

/**** navbar end ****/
/**** Header index****/
.carousel-item img {
  height: 100%;
}

/**** Header index end ****/
/**** Header index****/
.header-thin {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .header-thin .carousel {
    position: relative;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .header-thin .carousel {
    position: relative;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .header-thin .carousel {
    position: relative;
    margin: auto;
  }
}

/**** Header index end ****/
/**** content-part ****/
.content-part {
  padding: 30px 0px;
}

.content-part a {
  color: #000;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .content-part {
    padding: 80px 0px;
  }
}

.content-part .contact-persons-part {
  margin: 20px 0px 5px 0px;
}

@media (min-width: 768px) {
  .content-part .contact-persons-part .contact-persons {
    padding-right: 100px;
  }
}

@media (min-width: 992px) {
  .content-part .contact-persons-part .contact-persons {
    padding-right: 180px;
  }
}

.content-part .contact-persons-part .contact-persons .one-person {
  margin: 0px 0px 25px 0px;
}

.content-part .contact-persons-part .contact-persons .mail {
  margin: 7px 0px 0px 0px;
}

.content-part .contact-persons-part .contact-persons img {
  width: 200px;
}

.content-part .contact-persons-part .contact-persons h3 {
  margin: 20px 0px 5px 0px;
}

.content-part .contact-persons-part .contact-persons p {
  margin: 0px 0px 0px 0px;
}

.content-part h1 {
  margin: 0px 0px 20px 0px;
}

.content-part h3 {
  margin: 0px 0px 10px 0px;
}

.content-part .jubileums-img {
  width: 160px;
}

.content-part .jubileum {
  margin-top: 10px;
}

.content-part .jubileum p {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}

/**** content-part end ****/
/**** content-part index 1 ****/
.content-part-index-1 {
  padding: 30px 0px;
}

@media (min-width: 768px) {
  .content-part-index-1 {
    padding: 80px 0px;
  }
}

.content-part-index-1 .info-box {
  margin: 30px 10px;
}

@media (min-width: 768px) {
  .content-part-index-1 .info-box {
    margin: 0px 0px;
  }
}

@media (min-width: 768px) {
  .content-part-index-1 p {
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .content-part-index-1 p {
    padding-right: 90px;
  }
}

.content-part-index-1 .usp-icon:before {
  content: "";
  display: block;
  background: url("check-symbol.png") no-repeat;
  width: 30px;
  height: 24px;
  float: left;
  margin: 0 10px 0 0;
}

/**** content-part index 1 end ****/
/**** content-part index 2 ****/
.content-part-index-2 {
  background: #393737;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #393737 0%, #323030 44%, #312f2f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #393737 0%, #323030 44%, #312f2f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #393737 0%, #323030 44%, #312f2f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393737', endColorstr='#312f2f',GradientType=1 );
  padding: 30px 0px;
  color: white;
}

@media (min-width: 768px) {
  .content-part-index-2 {
    padding: 80px 0px;
  }
}

.content-part-index-2 .info-box {
  margin: 30px 10px;
}

@media (min-width: 768px) {
  .content-part-index-2 .info-box {
    margin: 0px 0px;
  }
}

@media (min-width: 768px) {
  .content-part-index-2 .info-box p {
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .content-part-index-2 .info-box p {
    padding-right: 160px;
  }
}

/**** content-part index 2 end ****/
/**** footer ****/
footer {
  background-color: #e5e4e3;
  padding: 30px 0px;
  color: black;
}

@media (min-width: 768px) {
  footer {
    padding: 50px 0px;
  }
}

footer h3 {
  margin: 5px 0px 5px 0px;
}

footer .instagram-text {
  margin: 0px 0px 10px 0px;
}

footer .instagram-logo {
  height: 40px;
  margin: 0px 0px 40px 0px;
}

footer .copyright {
  font-style: italic;
  font-size: 12px;
}

@media (min-width: 768px) {
  footer {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  footer {
    font-size: 13px;
  }
}

footer a {
  color: #000;
  text-decoration: underline;
}

footer :hover {
  color: #333;
}

footer :active {
  color: #333;
}

/**** footer end ****/
